<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Playground</title>
    <style>
        :root {
            --main-color: rgb(121, 182, 223);
            --accent-color: #006;
        }
        button {
            border: 0;
            color: #fff;
            padding: 4px 8px;
            background-color: var(--main-color);
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>{{creatingTime}}</p>
        <ol>
            <todo-item v-for="item in todoList" :key="item.id" :context="item.context" :date="item.date">
            </todo-item>
        </ol>
        <p>Original message: {{ message }}</p>
        <p>Computed reversed message: {{ reversedMessage }}</p>
        <p>Computed reversed messagetion by Func: {{ reversedMessageFunc() }}</p>
        <button @click="changeMessage">测试计算属性/函数</button>
        <p>test message: {{ test }}</p><button @click="testFun">testFun</button>
        <div v-show="showInfo">
            ok
        </div>
        <div v-show="!showInfo">
            not ok 🤐
        </div>
        <!-- <ul>
            <li v-for="item in showList" v-if="item.showFlag" :key="item.id">{{item.context}}</li>
        </ul> -->
        <h3>测试计算属性对于数组长度的反应：</h3>
        <ul>
            <li v-for="item in computeList" :key="item.id"> {{ item.context }}</li>
        </ul>
        <button @click="addItem">添加列表项</button>
    </div>
    <div id="todo">
        {{message}}
    </div>
    <iframe
        style="cursor: col-resize;"
        width="1000px"
        height="700px"
        src="https://codesandbox.io/s/magical-dust-fothp?fontsize=14&hidenavigation=1&theme=dark&file=/src/components/AnotherRootComponent.vue"
        frameborder="0"></iframe>
</body>

</html>